* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: #fefae0;
}

h1 {
  text-align: center;
  color: #d4a373;
}

button {
  font-size: larger;

  letter-spacing: 1px;
  width: 100%;
}
.add {
  width: 20rem;
  text-align: center;
  margin: 0px 5px;
}
.delete {
  width: 20rem;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: space-evenly;
}

button:hover {
  background-color: #d4a373;
  color: #fefae0;
  box-shadow: 10px 10px 50px white;
  cursor: pointer;
}
.To-Do-List,
.completed-lists {
  height: 270px;
  border: solid;
  border-color: #d4a373;
  width: 90%;
  margin: 0% 5%;
  overflow-y: auto;
}

h4 {
  background-color: rgb(51, 51, 51);
  color: white;
  border: white;
  border-style: double;
  text-align: center;
}

.items {
  display: flex;
  justify-content: space-evenly;
}

.remaning-items,
.completed-items {
  background-color: white;
  width: 50%;
  height: fit-content;
  margin-left: 10px;
}
ul {
  word-wrap: break-word;
  margin-right: 10px;
}

ul li::before {
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

li:hover,
li:active {
  font-size: 120%;
  cursor: pointer;
  
}
