* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: rgb(36, 36, 36);
}

h1 {
  text-align: center;
  color: white;
}
.remaning-items,
.completed-items {
  margin: 1%;
  background-color: white;
}
button {
  font-size: larger;

  letter-spacing: 1px;
  width: 100%;
}
.add {
  width: 20rem;
  text-align: center;
  margin: 0px 5px;
}
.delete {
  width: 20rem;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: space-evenly;
}

button:hover {
  background-color: rgb(211, 208, 208);
  box-shadow: 10px 10px 50px white;
}
.To-Do-List,
.completed-list {
  height: 300px;
  width: 50%;
  background-color: white;
  margin: 0% 2%;
}

h4 {
  background-color: rgb(51, 51, 51);
  color: white;
  border: white;
  border-style: double;
  text-align: center;
}

.items {
  display: flex;
  justify-content: space-evenly;
}
.remaning-items,
.completed-items {
  margin: 1%;
  background-color: white;
  width: 50%;
}
